.logo {
    width: 20%;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: block;
}

.pranksnjokes {
    display: inline-flex;
    padding: 5%;
}

.pic {
    width: 20%;
    height: auto;
    overflow: hidden;

}