.logo {
    width: 20%;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: block;
}

.snackbox {
    padding: 5%;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
}

.pic {
    width: 20%;
    height: auto;
    overflow: hidden;

}

