.logo {
    width: 20%;
    height: auto;
    overflow: hidden;
    align-content: center;
}

.pranksnjokes {
    display: inline-block;
}

.pic {
    width: 20%;
    height: auto;
    overflow: hidden;

}