* {
    font-family: "Century Gothic";
}

h1 {
    padding: 10%;
}

img {
    padding: 5%;
}

.header-container {
    background-color: #4a603b;
    padding-top: 15px;
    padding-bottom: 15px;

}
a {
    text-decoration: none;
    padding: 14px 50px;
    text-align: center;
    display: inline-block;
    color: beige;
}
a:header {
    font-weight: bold;
}

.ceramics {
    display: inline-block;
}

.smallEng {
    display: inline-block;
}

.webDev {
    display: inline-block;
}